/* Стили для каждого элемента информации */
.photo-card {
  display: inline-block;
  margin: 0 10px 20px 10px; /* Отступы лево и право, нижний отступ */
  position: relative;
  text-align: center; /* Выравнивание текста по центру */
}

/* Стили для контейнера картинки */
.photo-card img {
  width: 500px; /* Фиксированная ширина картинки */
  height: auto; /* Автоматическая высота, чтобы сохранить пропорции */
  transition: transform 0.3s; /* Плавное изменение масштаба */
  border-radius: 8px; /* Закругленные углы */
}

/* Стили для информационного блока */
.info {
  position: absolute;
  bottom: 10px; /* Отступ от нижнего края */
  left: 10px; /* Отступ от левого края */
  background-color: rgba(255, 255, 255, 0.8); /* Прозрачный фон */
  padding: 10px; /* Внутренний отступ */
  width: calc(100% - 20px); /* Ширина с учетом отступов слева и справа */
  text-align: left; /* Выравнивание текста */
  display: none; /* Сначала скрыто, отобразится при наведении */
  transition: opacity 0.3s; /* Плавное изменение прозрачности */
}

/* Эффект при наведении */
.photo-card:hover .info {
  display: flex; /* Отобразить информацию при наведении */
  justify-content: space-evenly;
  opacity: 1; /* Плавное появление при наведении */
}

/* Эффект при наведении (увеличение картинки) */
.photo-card:hover img {
  transform: scale(1.1); /* Увеличение масштаба при наведении */
}

/* Цветовая акцентуация */
/* Стили для каждого элемента информации */
.info-item b {
  color: #3498db; /* Цвет акцента (синий) */
  display: flex; /* Отображение элементов в ряд */
  margin-right: 10px; /* Отступ между элементами */
}

/* Стили для галереи по умолчанию */
.gallery {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
  gap: 5px; /* Отступы между элементами галереи */
}

/* Медиа-запрос для широкого вьюпорта (больше 1000px) */
@media (min-width: 1001px) {
  .gallery {
    gap: 5px; /* Изменяем отступы для широкого вьюпорта */
    flex-direction: column;
  }
}

